@model List<Models.EF.ProductCategory>

<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
    <ul class="nav navbar-nav nav_1">
        @foreach (var item in Model.Where(x=>x.ParentID==null))
        {
            var child = Model.Where(x => x.ParentID == item.ID); /*lấy ra danh sách con khi ID cha giống ID con*/
            var parentClass = child.Count()>0 ? "class=dropdown-toggle data-toggle=dropdown <span class=caret></span> ":"";
            var itemdropdown  = child.Count() > 0 ? " class=caret " : "";

            <li class="dropdown mega-dropdown active">
                <a href="/san-pham/@item.MetaTitle-@item.ID" @parentClass >@item.Name <span @itemdropdown></span></a>
                @if (child.Count() > 0)
                {
                    <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                        <div class="w3ls_vegetables">
                            <ul>
                                @foreach (var childItem in child)
                                {
                                <li><a href="/san-pham/@childItem.MetaTitle-@item.ID">@childItem.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                }
             </li>
        }
        @*<li><a href="products.html">Branded Foods</a></li>
                <li><a href="household.html">Households</a></li>
                <li class="dropdown mega-dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Veggies & Fruits<span class="caret"></span></a>
                    <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                        <div class="w3ls_vegetables">
                            <ul>
                                <li><a href="vegetables.html">Vegetables</a></li>
                                <li><a href="vegetables.html">Fruits</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="kitchen.html">Kitchen</a></li>
                <li><a href="short-codes.html">Short Codes</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beverages<span class="caret"></span></a>
                    <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                        <div class="w3ls_vegetables">
                            <ul>
                                <li><a href="drinks.html">Soft Drinks</a></li>
                                <li><a href="drinks.html">Juices</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="pet.html">Pet Food</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Frozen Foods<span class="caret"></span></a>
                    <div class="dropdown-menu mega-dropdown-menu w3ls_vegetables_menu">
                        <div class="w3ls_vegetables">
                            <ul>
                                <li><a href="frozen.html">Frozen Snacks</a></li>
                                <li><a href="frozen.html">Frozen Nonveg</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="bread.html">Bread & Bakery</a></li>
        </ul>
    </div*@